<h1>HR Dashboard</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<table>
  <td>
    <canvas id="barChart" style="max-width: 400px; max-height: 300px; width: 30%; height: 50%; padding-bottom: 20px;"></canvas>
    Day Vs Working Hours
  </td>
  <td>
  <canvas id="pieChart" style="max-width: 400px; max-height: 300px; width: 30%; height: 50%; padding-bottom: 20px;"></canvas>
    Active Employee Count Vs Resigned Employee Count
  </td>
  <td>
    <canvas id="barChartSalary" style="max-width: 450px; max-height: 300px; width: 30%; height: 50%; padding-bottom: 20px;"></canvas>
    Days Vs Salary
  </td>
</table>
