<div class="back">
<p class="whitetext"><b> Astoria Solutions</b> is an organization that embodies disruptive innovation, empowering our clients in their transformation towards digitalization. <br>
  Applying <b>Disruptive Innovation</b> to provide safety and management solutions across all platforms.</p>
<div class="banner">
 <p class="padding"> Empower </p>
 <p class="padding"> Innovate </p>
 <p class="padding"> Transform </p>

</div>
<p class="check">
  Enhancing Safety, Accountability and Productivity
</p>
</div>
<div class="adj">

  <p class="how">
    How Astoria Solutions is helping industries
  </p>
  <p>
    We are driven by a firm belief in applying <b class="blue">Disruptive Innovation</b> to provide safety and management solutions across all platforms within industries with a hazardous work environment. Our suite of solutions will aid you in streamlining multiple aspect of your business, including safety, workflow and contractor management.
  </p>
  <p>
    Disruptive Innovation is quintessentially the concept of harnessing the benefits of simple applications in order to improve safety, productivity and accountability needs through identifying and transforming Jobs To Be Done within the organizations.
  </p>
  <p>
    Jobs To Be Done is a framework to identify core fundamental organisational problems, taking into consideration both the functional and emotional aspects of the customer's needs and wants.
  </p>
  <div class="sidemg">
    <img style="height: 20%;" src="	https://astorjob.blob.core.windows.net/astoriasolutions/jtbd_logo.png">
  </div>
</div>
